@{
    ViewBag.Title = "Home Page";
}

<input type="search" id="tableFilterInput" placeholder="Søk...(ikke i drift enda)">
<table>
<thead>
    <tr>
        <th>Navn</th>
        <th>QA-type</th>
        <th>Publisert dato</th>
        <th>Gjennomført av</th>
        <th>Se på/endre</th>
    </tr>
</thead>
<tbody>
    @if (Model.Count == 0) { 
        <tr>
            <td colspan="5">Ingen QA-er er opprettet enda! På tide?</td>
        </tr>
    }
    
    @foreach (QaInstance qa in Model) { 
        <tr>
            <td>@Html.ActionLink(qa.Name, "View", new { controller = "Qa", id = qa.Id })</td>
            <td>@qa.QaTypeName</td>
            <td>@(qa.Published ? @qa.PublishedDate.ToShortDateString() + " " +  @qa.PublishedDate.ToShortTimeString() : "Ikke publisert")</td>
            <td>@qa.User</td>
            <td>@Html.ActionLink("Endre", "Edit", new { controller = "Qa", id = qa.Id })</td>
        </tr>
    }
</tbody>
</table>