@{
    ViewBag.Title = Epinova.EasyQA.App_GlobalResources.Common.Edit + " " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="title"><span class="content">@Model.Name</span> <a href="#">@Epinova.EasyQA.App_GlobalResources.Common.Edit</a></h1>

<input type="hidden" id="sectionCount" value="@Model.CriteriaCategories.Count">
<input type="hidden" id="qaTypeId" value="@ViewBag.Id">

<div id="sectionWrapper">
    @{var indexer = 1;}
    @foreach (CriteriaCategory category in Model.CriteriaCategories) { 
        <section class="editableCategory">
            <input type="hidden" value="@category.Id" class="categoryId">
            <h1><span class="sectionIndex">@indexer</span> <span class="content">@category.Text</span> <a href="#">(@Epinova.EasyQA.App_GlobalResources.Common.Edit)</a></h1>
            <ol>
            @foreach (QaCriteria criteria in category.Criterias) { 
                <li><span class="content">@criteria.Text</span><a href="#" class="editButton">(@Epinova.EasyQA.App_GlobalResources.Common.Edit)</a><input type="hidden" value="@criteria.Id" class="criteriaId"></li>
            }
            </ol>
            <span class="button addItemButton addCriteria"><a href="#">@Epinova.EasyQA.App_GlobalResources.QaType.AddCriteria</a></span> <div class="loader">@Epinova.EasyQA.App_GlobalResources.Common.Loading</div>
        </section>
        indexer += 1;
    }

</div>
<span class="button addItemButton addCategory"><a href="#">@Epinova.EasyQA.App_GlobalResources.QaType.AddCategory</a></span><div class="loader">@Epinova.EasyQA.App_GlobalResources.Common.Loading</div>

@section AddScripts {
    <script src="/Scripts/editQaType.js" type="text/javascript"></script>
}