@{
    ViewBag.Title = Epinova.EasyQA.App_GlobalResources.QaType.IndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";     
}

<h1>@Epinova.EasyQA.App_GlobalResources.QaType.EditQaTypes</h1>
<table>
<thead>
    <tr>
        <th>@Epinova.EasyQA.App_GlobalResources.QaType.Name</th>
        <th>@Epinova.EasyQA.App_GlobalResources.QaType.NumberOfCriterias</th>
    </tr>
</thead>
<tbody>
@foreach (QaType qaType in Model) { 
    <tr>
        <td>@Html.ActionLink(qaType.Name, "Edit", new { id = qaType.Id })</td>
        <td>@qaType.GetTotalCriteriaCount()</td>
    </tr>
  }
</tbody>
</table>
<span class="button editQaType">@Html.ActionLink(Epinova.EasyQA.App_GlobalResources.QaType.NewQaType, "New")</span>