@{
    ViewBag.Title = Resources.QaType.IndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";     
}

<h1>@Resources.QaType.EditQaTypes</h1>
<table>
<thead>
    <tr>
        <th>@Resources.QaType.Name</th>
        <th>@Resources.QaType.NumberOfCriterias</th>
    </tr>
</thead>
<tbody>
@foreach (QaType qaType in Model) { 
    <tr>
        <td>@Html.ActionLink(qaType.Name, "Edit", new { id = qaType.Id })</td>
        <td>@qaType.GetTotalCriteriaCount()</td>
    </tr>
  }
</tbody>
</table>
<span class="button editQaType">@Html.ActionLink(Resources.QaType.NewQaType, "New")</span>