@model Epinova.EasyQA.Core.Entities.QaInstance

@{
    ViewBag.Title = "Rediger " + Model.Name ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" value="@(Model.Id)" id="qaId">
<h1 id="title"><span class="content">@Model.Name</span> <a href="#">(Endre)</a></h1>
<div class="clear"></div>
<label for="projectMembers">Prosjektdeltakere</label>
<div id="projectMembersContainer">
  <input type="text" id="projectMembers" autocomplete="off">
  <div>
    @foreach (string member in Model.ProjectMembers)
    {
      <span><span>@member</span> <a href="#">X</a></span>    
    }
  </div>
</div>

<div id="projectMembersAutoComplete">
    <ul></ul>
</div>

<label for="presentAtReview">Tilstede ved gjennomgang</label>
<input type="text" id="presentAtReview" value="@Model.PresentAtReview">

@{var categoryIndexer = 1; }
@{var criteriaIndexer = 1; }
@foreach (QaInstanceCategory category in Model.Categories)
{ 
<section class="editableCategory">
    <h1>@categoryIndexer. @category.Text</h1>
    <ul class="qaInstanceList">

        @foreach (QaInstanceCriteria criteria in category.Criterias)
        { 
        <li>
            <input type="hidden" class="criteriaInstanceId" value="@(criteria.Id)">
            <input type="radio" name="r@(criteriaIndexer)" @(criteria.Status == InstanceCriteriaStatus.NeedsExplanation ? "checked" : string.Empty) value="q" class="radioQuestion statusChooser"> 
            <input type="radio" name="r@(criteriaIndexer)" value="n" @(criteria.Status == InstanceCriteriaStatus.NotOk ? "checked" : string.Empty) class="radioNo statusChooser"> 
            <input type="radio" name="r@(criteriaIndexer)" value="y" @(criteria.Status == InstanceCriteriaStatus.Ok ? "checked" : string.Empty) class="radioYes statusChooser"> 
            <span class="number">@criteriaIndexer.</span> <span class="content">@criteria.Text</span><a href="#" class="addComment">Legg til kommentar</a>
            <div class="commentArea">
                <textarea>@criteria.Comment</textarea>
            </div>
        </li>    
          criteriaIndexer += 1;
        }        
    </ul>
</section>
}
<section>
    <h1>Andre funn</h1>
    <textarea id="misc">@Model.Miscellaneous</textarea>
</section>

<section>
    <h1>Oppsummering</h1>
    <textarea id="summary">@Model.Summary</textarea>
</section>
<div class="clear"></div>

    <div id="publishButton" class="button qaInstanceButton publish" @Html.Raw(Model.Published ? " style=\"display: none\"" : string.Empty)><a href="#">Publiser</a></div>
    <div id="unpublishButton" class="button qaInstanceButton unpublish" @Html.Raw(!Model.Published ? " style=\"display: none\"" : string.Empty)><a href="#">Avpubliser</a></div>
    <div id="publishLoader">Laster...</div>
@section AddScripts {
    <script src="/Scripts/jquery.uniform.min.js"></script>
    <script src="/Scripts/editQaInstance.js"></script>
}