@model Epinova.EasyQA.Core.Entities.QaInstance

@{
    ViewBag.Title = Model.Name;
    ViewBag.MarkdownEngine = new Markdown(new MarkdownOptions() { AutoHyperlink = true });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="title">@Model.Name</h1>
<dl>
    <dt>QA utført av:</dt>
        <dd>@Model.User</dd>

    <dt>Prosjektdeltakere:</dt>
        <dd>
          @foreach (string member in Model.ProjectMembers)
          {
              @(member+", ")
          }
        </dd>

    <dt>Tilstede ved gjennomgang:</dt>
        <dd>@Model.PresentAtReview</dd>
</dl>
@{var categoryIndexer = 1; }
@{var criteriaIndexer = 1; }
@foreach (QaInstanceCategory category in Model.Categories)
{ 
<section>
    <h1>@categoryIndexer. @category.Text</h1>
    <ul class="viewQaInstanceList">
        @foreach (QaInstanceCriteria criteria in category.Criterias)
        { 
        <li>
            @if (criteria.Status == InstanceCriteriaStatus.NeedsExplanation)
            { 
                <span class="status statusQ">NeedsExplanation</span>
            }
            else if (criteria.Status == InstanceCriteriaStatus.NotOk) { 
                <span class="status statusN">NotOk</span>
            }
            else if (criteria.Status == InstanceCriteriaStatus.Ok) { 
                <span class="status statusY">Ok</span>
            }
            <span class="number">@criteriaIndexer.</span> <span class="content">@criteria.Text</span>
            <div class="commentArea">
                @Html.Raw(ViewBag.MarkdownEngine.Transform(criteria.Comment))
            </div>
        </li>    
            criteriaIndexer += 1;
        }        
    </ul>
</section>
    categoryIndexer++;
}

<section>
    <h1>Andre funn</h1>
    @Html.Raw(ViewBag.MarkdownEngine.Transform(Model.Miscellaneous))
</section>
<section>
    <h1>Oppsummering</h1>
    @Html.Raw(ViewBag.MarkdownEngine.Transform(Model.Summary))
</section>