<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Styles/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="pageWrap">
        <header>
            <p id="logindisplay">@Resources.Home.LoggedInAs <strong>@User.Identity.Name</strong></p>
            <h1><a href="/">Epinova.EasyQA</a></h1>
            <nav>
                <ul>
                    <li class="button newQaLink"><a>Ny QA</a>
                        <ul>
                            @{Html.RenderAction("QaTypesListPartial", "Home");}                            
                        </ul>
                    </li>
                    <li class="button editQaType">@Html.ActionLink(Resources.QaType.EditQaTypes, "Index", "QaType")</li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
        <div id="contentWrap">
            @RenderBody()
        </div>
        <footer>
        <p>Epinova.EasyQA - <a href="https://github.com/Epinova/Epinova.EasyQA">Feel free to contribute</a></p>
    </footer>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="/Scripts/common.js"></script>
    @RenderSection("AddScripts", false)
</body>
</html>
